<!-- <h1>{{title.toUpperCase()}}</h1> -->
<app-global-error></app-global-error>
<header class="header">
    <h1>{{title | uppercase}}</h1>
</header>
<div class="products">
    <div class="container">
        <div class="products__row">
            <p *ngIf="loading">Loading ...</p>
            <!-- <app-product *ngFor="let product of products; let i = index" 
                [product]="product">
            </app-product> -->
            <app-product *ngFor="let product of products$ | async; let i = index" 
                [product]="product">
            </app-product>

        </div>
    </div>
</div>