.error{
    text-align: center;
    font-size: 18px;
    margin: 15px 0;
    background: crimson;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}